In [4]:
import kaggle

In [6]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close()

In [8]:
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [8]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [9]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [11]:
# convert order date from object data type to datetime

df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [12]:
# drop columns
df.drop(columns=['list_price','discount_percent','profit'],inplace=True)

In [15]:
import mysql.connector
connecstr="mysql+mysqlconnector://root:rootkg@localhost:3306/newdb"
engine = sal.create_engine(connecstr,echo=True)
conn=engine.connect()

2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-01-06 10:28:55,995 INFO sqlalchemy.engine.Engine [raw sql] {}

In [18]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

2025-01-06 10:50:22,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-06 10:50:22,821 INFO sqlalchemy.engine.Engine DESCRIBE `newdb`.`df_orders`
2025-01-06 10:50:22,821 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-01-06 10:50:22,941 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, cost_price, quantity, discount, sale_price) VALUES (%(order_id)s, %(order_date)s, %(ship_mode)s, %(segment)s, %(country)s, %(city)s, %(state)s, %(postal_code)s, %(region)s, %(category)s, %(sub_category)s, %(product_id)s, %(cost_price)s, %(quantity)s, %(discount)s, %(sale_price)s)
2025-01-06 10:50:22,947 INFO sqlalchemy.engine.Engine [generated in 0.08992s] [{'order_id': 1, 'order_date': datetime.datetime(2023, 3, 1, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Bookcases', 'product_id': 'FUR-BO-10001798', 'cost_price': 240, 'quantity': 2, 'discount': 5.2, 'sale_price': 254.8}, {'order_id': 2, 'order_date': datetime.datetime(2023, 8, 15, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Chairs', 'product_id': 'FUR-CH-10000454', 'cost_price': 600, 'quantity': 3, 'discount': 21.900000000000002, 'sale_price': 708.1}, {'order_id': 3, 'order_date': datetime.datetime(2023, 1, 10, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Corporate', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90036, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Labels', 'product_id': 'OFF-LA-10000240', 'cost_price': 10, 'quantity': 2, 'discount': 0.5, 'sale_price': 9.5}, {'order_id': 4, 'order_date': datetime.datetime(2022, 6, 18, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Tables', 'product_id': 'FUR-TA-10000577', 'cost_price': 780, 'quantity': 5, 'discount': 19.2, 'sale_price': 940.8}, {'order_id': 5, 'order_date': datetime.datetime(2022, 7, 13, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Office Supplies', 'sub_category': 'Storage', 'product_id': 'OFF-ST-10000760', 'cost_price': 20, 'quantity': 2, 'discount': 1.0, 'sale_price': 19.0}, {'order_id': 6, 'order_date': datetime.datetime(2022, 3, 13, 0, 0), 'ship_mode': None, 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Furniture', 'sub_category': 'Furnishings', 'product_id': 'FUR-FU-10001487', 'cost_price': 50, 'quantity': 7, 'discount': 1.5, 'sale_price': 48.5}, {'order_id': 7, 'order_date': datetime.datetime(2022, 12, 28, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Art', 'product_id': 'OFF-AR-10002833', 'cost_price': 10, 'quantity': 4, 'discount': 0.3, 'sale_price': 9.7}, {'order_id': 8, 'order_date': datetime.datetime(2022, 1, 25, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Technology', 'sub_category': 'Phones', 'product_id': 'TEC-PH-10002275', 'cost_price': 860, 'quantity': 6, 'discount': 45.5, 'sale_price': 864.5}  ... displaying 10 of 9994 total bound parameter sets ...  {'order_id': 9993, 'order_date': datetime.datetime(2022, 11, 19, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Costa Mesa', 'state': 'California', 'postal_code': 92627, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Paper', 'product_id': 'OFF-PA-10004041', 'cost_price': 30, 'quantity': 4, 'discount': 0.9, 'sale_price': 29.1}, {'order_id': 9994, 'order_date': datetime.datetime(2022, 7, 17, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Westminster', 'state': 'California', 'postal_code': 92683, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Appliances', 'product_id': 'OFF-AP-10002684', 'cost_price': 210, 'quantity': 2, 'discount': 7.2, 'sale_price': 232.8}]
2025-01-06 10:50:23,553 INFO sqlalchemy.engine.Engine COMMIT

9994